body {
    background-color: rgba(242, 247, 248, 0.941);
    margin: 0;
    font-family: sans-serif;
    display: flex;
}

.side_bar {
    display: flex;
    flex-direction: column;
    width: 70px;
    border-right: 1px solid rgb(231, 229, 229);
    padding-top: 20px;
    align-items: center;
    background-color: white;
}

.main_c {
    height: 60px; 
}

.c_icone {
    height: 35px;
    width: 35px;
    border-radius: 10px;
    margin-left: 8px;
    display: flex;               
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main_icone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;  
}

.left_side_bar {
    width: 50px;
    align-items: center;
}

#cat {
    background-color: lightblue;
}

.icone_all {
    margin-top: 2px;
    height: 22px;
    width: 22px;
    border-radius: 5px;
    color: gray;
    cursor: pointer;
}

.profaile {
    height: 30px;
    width: 30px;
    margin-top: 60px;
    margin-left: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.section_2 {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    border-left: 1px solid rgb(228, 226, 226) ;
    background-color: white;
}

.coulom {
    height: 70px;
    width: 70px;
    margin-left: 20px;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 20px;
    margin-top: 50px;
}

.left_bar {
    display: flex;
    background-color: white;
    width: 370px;
}

.text {
    color: gray;
    margin-top: 5px;
}

.name {
    margin-top: 2px;
}

.shop_1 {
    display: flex;
    background-color: rgb(221, 236, 240);
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    color: rgb(96, 96, 249);
}


.cont {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    margin-left: -70px;
}

.dolar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    height: 40px;
    width: 250px;
    background-color: rgb(248, 250, 252);
    padding: 2px;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 12px;
}

.cash_1 {
    margin-right: 50px;
}

.cash {
    color: gray;
}

.events {
    display: flex;
    flex-direction: column;
    margin-left: -270px;
    margin-top: 460px;
}

.we {
    background-color: blue;
    height: 7px;
    width: 100%;
    clip-path: circle();
    margin-left: -130px;
}

.we_1 {
    background-color: gold;
    height: 7px;
    width: 100%;
    clip-path: circle();
    margin-left: -130px;
}


.link{
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    margin-left: -300px;
    color: rgb(96, 96, 249);
}

.ri-more-line {
    color: gray;
}

.bika {
    display: flex;
    flex-direction: column;
    height: 50px;
    margin-left: 20px;
    padding: 2px;
    background-color: rgb(248, 250, 252);
    border-radius: 5px;
    margin-top: 5px;
}

.taim {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 250px;
    align-items: center;
    justify-content: space-between;
}

.text_0 {
    display: flex;
    flex-direction: column;
    height: 20px;
}

.meeting {
    font-weight: bold;
    font-size: 12px;
    margin-top: 2px;

}
.meeting_1 {
    font-size: 10px;
    color: gray;
    margin-top: 2px;
}

.container_0 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: -170px;
}



.nav_sec {
    display: flex;
    height: 60px;
    padding: 0 15px;
    margin-left: 30px;
    
}

.nav_0 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    
}


.nav_0 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}


.icone_l {
    display: flex;
    height: 30px;
    width: 30px;
    background-color: rgb(227, 241, 246);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: gray;
    cursor: pointer;
    font-size: 22px;
    cursor: pointer;
}

            /* section_02 for card */
.section_02 {
    display: flex;
    column-gap: 20px;
 }
.card_1 {
    background-image: url(./image/tradin_1.png);
    background-color: #cccccc;
    height:300px;
    width: 450px;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 10px;
}
.card {
    background-color: white;
    height:300px;
    width: 450px;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.main_card {
    display: flex;
    flex-direction: column;
}
.dola_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    
}
.dola_0 {
    display: flex;
    align-items: center;
    
}

.your {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
}

a:hover {
    color: black;
    border: 1px solid rgb(207, 206, 206);
    border-radius: 10px;
    background-color: whitesmoke;
}

.inks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    height: 30px;
    width: 50px;
    margin-left: 10px;
    justify-content: center;
    color: gray;
    margin-right: 10px;
}
.inks_01 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-decoration: none;
}

.links {
    display: flex;
    /* margin-left: 160px; */
}

#actevat {
    height: 30px;
    width: 50px;
    border: 1px solid rgb(239, 234, 234);
    border-radius: 10px;
    color: black;
}
#actevat_1 {
    height: 30px;
    width: 50px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.teta {
    margin-left: 10px;
    font-size: 1.8rem;
    margin-top: 10px;
}

.teta_1 {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 12px;
    color: gray;
}

.monthe {
    display: flex;
    gap: 47px;
    color: gray;
    margin-top: 135px;
    border-top: 1px solid rgb(235, 232, 232);
    cursor: pointer;
}

.month {
margin-top: 10px;
}

#mon {
    margin-left:7px;
}

.dola_0 {
    display: flex;
    height: 170px;
    align-items: center;
}

.prsnt {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: 20px;
}

.color_1, 
.color_2,
.color_22, 
.color_33 {
    display: flex;
    gap: 5px;
    align-items: center;
}

.blou {
    background-color: blue;
    height: 9px;
    width: 9px;
    border-radius: 50%;
}
.yellow {
    background-color: rgb(214, 214, 6);
    height: 9px;
    width: 9px;
    border-radius: 50%;
}
.green {
    background-color: green;
    height: 9px;
    width: 9px;
    border-radius: 50%;
}
.red {
    background-color: red;
    height: 9px;
    width: 9px;
    border-radius: 50%;
}

.monthe_01,
.monthe_11 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 15px;
}

.event {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: gray;
    margin-left: 10px;
    margin-top: 20px;
}

.event_1 {
    margin-right: 10px;
}

.event_2 {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.event_02 {
    display: flex;
    height: 30px;
    width: 30px;
    background-color: rgb(227, 241, 246);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: rgb(101, 101, 245);
    gap: 200px;
}

.event_03 {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    margin-left: 10px;
    justify-content: center;
}

.event_04 {
    font-weight: bold;
    color: rgb(27, 26, 26);
}

.event_00 {
    display: flex;
    gap: 180px;
}

.teta_11 {
    font-size: 13px;
}

.dola_02 {
    display: flex;
    height: 200px;
    width: 450px;
}

.elzero {
    display: flex;
    flex-direction: column;
}

.bika_12 {
    display: flex;
    margin-top: -40px;
    margin-left: 10px;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-top:  1px solid rgb(219, 215, 215);
}


.one {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 2px;
    
}
.one_1 {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    width: 160px;
    border-left: 1px solid rgb(219, 215, 215);
    border-right: 1px solid rgb(219, 215, 215);
    margin-top: 2px;
}

.tow {
    font-size: 13px;
    font-weight: lighter;
    color: gray;
}

@media (min-width: 480px) and (max-width: 667px) {

  .left_bar {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .container_0 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}